| $("#favorite-button-tl-#{@book.id}").html(" #{j(render partial: 'favorites/favorite', locals: {book: @book})} ");
| $("#favorite-button-#{@book.id}").html(" #{j(render partial: 'favorites/favorite', locals: {book: @book})} ");