| $("#follow-button-show-#{@user.id}").html(" #{j(render partial: 'users/follow_form', locals: {user: @user})} ");
| $("#follow-button-thumb-#{@user.id}").html(" #{j(render partial: 'users/follow_form', locals: {user: @user})} ");
| $("#follow-button-thumb-following-#{@user.id}").html(" #{j(render partial: 'users/follow_form', locals: {user: @user})} ");
| $("#follow-button-thumb-followers-#{@user.id}").html(" #{j(render partial: 'users/follow_form', locals: {user: @user})} ");