//カラー
//$main-blue: #75A9FF;
$main-blue: rgba(0, 104, 182, 1);
$pale-blue: #D9E5FF;
$primary-blue: rgba(0, 104, 182, 1);
$gray: rgba(192,192,192 ,0.5 );
$background: rgba(238,238,238,0.5);

//フォント
body{
    font-family: 'Verdana';
}

//ボタン
.btn{
    background-color: $main-blue;
    border-color: $main-blue;
    &.btn-home{
        background-color: white;
        color: $main-blue;
    }
    &.btn-cancell{
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
    }
}

//フラッシュメッセージ
.alert-dismissible{
    margin-top: 10px;
}

//ページネーション
.pagination{
    .page-link{
        color: $main-blue;
    }
}

//開発画面用
.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    background-color: #eaeaea;
  }

//ミックスイン
@mixin book-thumb-tl{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .post-user-name{
            margin-left: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin review-thumb-tl-post{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #review-thumb-post-user{
        font-size: 18px;
        .user-image{
            margin-right: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #review-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-review-title{
            font-size: 18px;
        }
        .spoiler-mark{
            display: inline-block;
            text-align: center;
            font-size: 15px;
            color: white;
            width: 90px;
            padding: 0px;
            border-radius: 10px;
            margin-left: 10px;
        }
        .thumb-review-content{
            font-size: 16px;
            height: 95px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .thumb-review-edit-delete{
            margin-top: 10px;
            #review-edit{
                width: 48%;
            }
            #review-delete{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
            }
        }
        .spoiler-review:not(:hover){
            -ms-filter: blur(6px);
            filter: blur(6px);
        }
    }
}

@mixin book-thumb-fav{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .post-user-name{
            margin-left: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin book-thumb-post{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .user-image{
            margin-right: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin book-thumb{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 71%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-title{
            font-size: 20px;
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 70px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
        }
    }
} 

@mixin users-thumb{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #users-thumb-image{
        float: left;
        width: 130px;
    }
    #users-thumb-overview{
        float: left;
        height: 135px;
        width: 73%;
        .thumb-user-name{
            font-size: 20px;
            .thumb-recomme-point{
                padding-left: 20px;
                font-size: 15px;
            }
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-user-favorite-genre{
            overflow-y: auto;
            overflow-x: hidden;
            height: 50px;
        }
        .thumb-follow-recomme{
            padding: 5px 0px;
            margin-top: 10px;
            .follow-btn{
                display: inline-block;
                margin-left: 10px;
                width: 48%;
                #user-follow-button{
                    width: 100%;
                }
            }
            #btn{
                padding: 5px;
            }
            #thmb-recomme-btn{
                width: 48%;
            }
        }
        p{
            margin: 0px;
        }

    }
}

@mixin review-thumb{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    .my-review{
        
    }
    .thumb-review-post-user{
        font-size: 18px;
        .post-user-name{
            margin-left: 10px;
        }
        .spoiler-mark{
            display: inline-block;
            text-align: center;
            font-size: 15px;
            color: white;
            width: 90px;
            padding: 0px;
            border-radius: 10px;
            margin-left: 10px;
        }
    }
    .card-body{
        padding-bottom: 10px;
        .review-content{
            margin-bottom: 10px;
        }
        .review-updated_time{
            text-align: right;
            padding-right: 5px;
        }
        #review-edit{
            display: inline-block;
            width: 48%;
        }
        #review-delete{
            display: inline-block;
            width: 49%;
            margin-left: 10px;
        }
    }
    .spoiler-review:not(:hover){
        -ms-filter: blur(6px);
        filter: blur(6px);
    }
}

@mixin search-form{
    .search-form{
        .input-area{
            display: inline-block;
            width: 300px;
        }
        .btn{
            display: inline-block;
            margin-left: 5px;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .suggest-book-post{
            margin-left: 40px;
        }
    }
}

//エラー文
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

//全体背景色
body {
    background-color: $background;
    }

//ヘッダー・フッター
.header-top{
    background-color: $background;
}
.header-under{
    background-color: $gray;
}
.footer{
    background-color: $gray;
    margin-top: 150px;
    .logo-main{
        font-size: 30px;
        color: $main-blue;
    }
}
.headerfooter{
    .logo-main{
        font-size: 30px;
        text-align: left;
        
        color: $primary-blue;
    }
    .logo-mark{
        
    }
    .nav-item{
        margin-right: 40px;
        padding: 0px;
        .nav-link{
            padding: 10px 0px 10px 0px;
            
        }
    }
    .search-form{
        .input-area{
            display: inline-block;
            width: 300px;
        }
        .btn{
            display: inline-block;
            margin-left: 5px;
            
        }
    }
    .notice{
        .new{
            padding-top: 10px;
            padding-right: 5px;
            color: blue;
        }
        .fa-circle{
            padding-top: 15px;
            padding-left: 20px;
            color: orange;
        }
        .not-new{
            padding-top: 10px;
            padding-right: 5px;
            color: #BBBBBB;
        }
    }
}

//パンくずリスト
.breadcrumb{
    font-size: 16px;
    background-color: rgba(238,238,238,0.1);
    color: #999999;
    padding-left: 0px;
    a{
        margin-right: 5px;
        margin-left: 5px;
    }
    span{
        margin-left: 5px;
    }
}

//右サイドメニュー
.right-side{
    margin-top: 30px;
    .recently-recommend-book{
        margin-bottom: 30px;
        .card-header{
            p{
                text-align: center;
                margin-bottom: 0px;
            }
        }
        .card-body{
            #book-thumb-image{
                .book-image{
                    margin-left: 35px;
                }
            }
            #book-thumb-overview{
                .book-info{
                    display: block;
                    margin: auto;
                    text-align: center;
                }
                .title{
                    margin-top: 10px;
                    font-size: 20px;
                }
            }
        }
    }
    .twitter{
        width: 255px;
        .twitter-timeline{
            display: block;
        }
    }
    .login-signup{
        margin-bottom: 30px;
        .btn{
            width: 210px;
        }
        .signup{
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
    .my-user-info{
        margin-bottom: 30px;
        border: 1.5px solid #D3D3D3;
        padding: 15px;
        #user-image-name{
            color: black;
            .user-image-space{
                height: 60px;
                
                
            }
            .user-name{
                
                font-size: 20px;
                color: black;
                
                
            }
        }
        #user-overview{
            .user-rp{
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .genre-tag-mark{
                display: inline-block;
                text-align: center;
                font-size: 15px;
                padding: 5px;
                border-radius: 10px;
                margin-right: 10px;
                margin-bottom: 7px;
                #genre-tag-text{
                    color: white;
                }
                .fa-tag{
                    color: white;
                    margin-right: 3px;
                }
            }
        }
    }
}

 //ホーム画面
 #top-page{
    margin-top: 30px;
    .main-area{
        background-color: $main-blue;
        padding: 15px 15px 15px 20px;
        .main-message-area{
            color: white;
            .title{
                font-size: 50px;
                margin-bottom: 0px;
            }
            .sub-title{
                font-size: 20px;
            }
            .main-message{
                font-size: 30px;
            }
            .sub-message{
                font-size: 16px;
            }
            .recomme-area{
                .btn{
                    margin-left: 20px;
                }
            }
        }
        .logo-mark{
            margin-top: 20px;
            margin-left: 10px;
            color: $main-blue;
        }
    }
    .explanation-area{
        margin-top: 30px;
        .title{
            text-align: center;
            font-size: 30px;
        }
        .sub-title{
            text-align: center;
            margin-bottom: 5px;
        }
        .items{
            margin-top: 20px;
            .col-md-6{
                padding: 0px;
                .item{
                    background-color: $main-blue;
                    color: white;
                    padding: 10px;
                    margin-bottom: 10px;
                    &.left{
                        margin-right: 5px;
                    }
                    &.right{
                        margin-left: 5px;
                    }
                    .item-titol{
                        text-align: center;
                        font-size: 24px;
                    }
                    .image{
                        text-align: center;
                        .logo{
                            margin-bottom: 10px;
                        }
                    }
                    .item-sub{
                        text-align: center;
                        margin-bottom: 5px;
                        font-size: 15px;
                    }
                    .btn{
                        width: 100%;
                        margin-top: 10px;
                    }
                }
            }
            
        }
    }
    .book-ranking-area{
        margin-top: 30px;
        background-color: $gray;
        padding: 10px 20px 20px 20px;
        .title{
            color: black;
            font-size: 25px;
            margin-bottom: 10px;
        }
        .whatrep1{
            padding: 3px 10px 3px 10px;
        }
        .target1.is-hidden{
            display: none;
        }
        .target1{
            margin-left: 5px;
        }
        .book-thumb{
            width: 179px;
            background-color: white;
            float: left;
            padding: 10px;
            margin: 0 auto;
            margin-top: 10px;
            #thumb-book-raning{
                text-align: center;
                font-size: 22px;
            }
            .ver-1{
                .fa-crown{
                    color: gold;
                }
            }
            .ver-2{
                .fa-crown{
                    color: silver;
                }
            }
            .ver-3{
                .fa-crown{
                    color: #DEB887;
                }
            }
            #book-thumb-image{
                text-align: center;
                margin-bottom: 5px;
            }
            #book-thumb-overview{
                text-align: center;
                .text{
                    color: black;
                }
            }
        }
    }
    .user-ranking-area{
        margin-top: 30px;
        background-color: $gray;
        padding: 10px 20px 20px 20px;
        .title{
            color: black;
            font-size: 25px;
            margin-bottom: 10px;
        }
        .whatrep2{
            padding: 3px 10px 3px 10px;
        }
        .target2.is-hidden{
            display: none;
        }
        .target2{
            margin-left: 5px;
        }
        .user-thumb{
            width: 179px;
            background-color: white;
            float: left;
            padding: 10px;
            margin: 0 auto;
            margin-top: 10px;
            #thumb-user-raning{
                text-align: center;
                font-size: 22px;
            }
            .ver-1{
                .fa-crown{
                    color: gold;
                }
            }
            .ver-2{
                .fa-crown{
                    color: silver;
                }
            }
            .ver-3{
                .fa-crown{
                    color: #DEB887;
                }
            }
            #thumb-user-title{
                text-align: center;
                font-size: 16px;
                margin-bottom: 5px;
            }
            #user-thumb-image{
                text-align: center;
                margin-bottom: 5px;
            }
            #user-thumb-overview{
                text-align: center;
                .text{
                    color: black;
                }
            }
        }
    }
}

//ユーザー登録画面
#users_new {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    .guidance-login{
        padding-top: 10px;
    }
}

//ログイン画面
#sessions_new {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
        .guidance-signup{
            padding-top: 10px;
        }
    }
    .btn-success{
        background-color: #28a745;
    }
    .btn-warning{
        background-color: #ffc107;
    }
}

//ユーザー編集画面
#users_edit {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    #user-edit-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
    .check-box-title{
        display: block;
    }
    .check-box{
        display: inline-block;
        margin-left: 17px;
    }
    .nav-pills{
        margin-bottom: 20px;
        .nav-link{
            border: solid silver;
            margin-right: 5px;
            margin-bottom: 5px;
            color: black;
            .nav-text{
                margin-bottom: 0px;  
            }
        }
        .nav-link.active{
            color: white;
        }
    }
    #pale-line{
        border-bottom: solid;
        margin-bottom: 20px;
        color: whitesmoke;
    }
    .profile-area{
        height: 110px;
    }
    .genre-area{
        height: 55px;
    }
}

//ユーザー詳細画面

#usershow{
    margin-top: 15px;
    .user-name{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .user-image-btn{
        .btn{
            display: block;
            margin-top: 10px;
            width: 242px;
        }
    }
    .user-overview{
        .user-title{
            font-size: 25px;
            margin-bottom: 0px;
        }
        .user-recomme-point{
            font-size: 20px;
            margin-bottom: 0px;
        }
        .user-profile-favorirte-genre{
            .heading{
                font-size: 20px;
                margin-bottom: 0px;
                margin-top: 10px;
            }
            .user-profile{
                padding: 5px;
                border: 1px solid #C0C0C0;
            }
            .genre-tag-mark{
                display: inline-block;
                text-align: center;
                font-size: 15px;
                padding: 5px;
                border-radius: 10px;
                margin-right: 10px;
                margin-bottom: 7px;
                #genre-tag-text{
                    color: white;
                }
                .fa-tag{
                    color: white;
                    margin-right: 3px;
                }
            }
            .user-favorirte-genre{
                padding: 5px;
                border: 1px solid #C0C0C0;
            }
            margin-bottom: 50px;
        }
        .nav-tabs{
            margin-bottom: 8px;
            display: table;
            table-layout: fixed;
            text-align: center;
            width: 100%;
            .nav-item{
                display: table-cell;
                vertical-align: middle;
                padding-bottom: 5px;
                .nav-link{
                    padding: 2px;
                }
                p{
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
        }
        .tab-content{
            .under-nav{
                width: 50%;
            }
        }
        .book-thumb-tl{
            @include book-thumb-tl;
        }
        .review-thumb-tl{
            @include review-thumb-tl-post;
        }
        .review-thumb-post{
            @include review-thumb-tl-post;
        }
        .book-thumb-fav{
            @include book-thumb-fav;
        }
        .book-thumb{
            @include book-thumb;
        }
        .users-thumb{
            @include users-thumb;
        }
        .book-thumb-post{
            @include book-thumb-post;
        }
    }
}

//ユーザー一覧画面
#userindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include search-form;
    .no-user-message{
        margin-left: 15px;
    }
    .users-thumb{
        @include users-thumb;
    }
    
}

//本一覧画面
#bookindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include search-form;
    .no-book-message{
        margin-left: 15px;
    }
    .book-thumb{
        @include book-thumb;
    }
}

//本検索画面
#books_serch{
    h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .book_list{
        margin-top: 50px;
        .no-book-message{
            text-align: center;
        }
    }
    .search-box{
        form{
            width: 500px;
            display: block;
            margin: 0 auto;
            .btn{
                margin-top: 10px;
            }
        }
    }
    .books-thumb{
        display: inline-block;
        width: 100%;  //横幅がcol-12のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #C0C0C0;
        #bookss-thumb-image{
            float: left;
        }
        #books-thumb-overview{
            float: left;
            .thumb-book-post-user{
                #delete{
                    display: block;
                    margin-right: 0;
                }
            }
            .thumb-book-title{
                font-size: 20px;
                .thumb-book-author{
                    padding-left: 20px;
                    font-size: 15px;
                }
            }
            .thumb-book-story{
                padding: 3px;
                height: 150px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
        #books-thumb-recomme{
            margin: auto;
            .thumb-book-recomme{
                p{
                    width: 100%;
                    height: 205px;
                    line-height:205px;
                    text-align: center;
                    font-size: 20px;
                    border: 1px solid #C0C0C0;
                    background-color: #C0C0C0;
                }
                #thmb-book-btn{
                    display: inline-block;
                    width: 100%;
                    height: 205px;
                    line-height:205px;
                }
            }
        }
    }
    
}

//本投稿画面
#books_post {
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    .error-message{
        color: red;
        margin-bottom: 40px;
    }
    .check-box-title{
        display: block;
    }
    .check-box{
        display: inline-block;
        margin-left: 17px;
    }
    .nav-pills{
        margin-top: 10px;
        margin-bottom: 20px;
        .nav-link{
            border: solid silver;
            margin-right: 5px;
            margin-bottom: 5px;
            color: black;
            .nav-text{
                margin-bottom: 0px;  
            }
        }
        .nav-link.active{
            color: white;
        }
    }
    #book-post-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
    .book-image-center{
        display: block;
        margin: auto;
    }
    #book_story{
        height: 120px;
    }
    #pale-line{
        border-bottom: solid;
        margin-bottom: 20px;
        color: whitesmoke;
    }
    .must-mark{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        color: white;
        width: 50px;
        padding: 0px;
        border-radius: 10px;
        margin-left: 10px;
    }
    .review-area{
        height: 110px;
    }
}

//本詳細画面
#book-show{
    margin-top: 15px;
    .book-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .book-author{
        font-size: 25px;
        margin-bottom: 0px;
    }
    .genre-tag-mark{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
        margin-right: 10px;
        margin-bottom: 7px;
        #genre-tag-text{
            color: white;
        }
        .fa-tag{
            color: white;
            margin-right: 3px;
        }
    }
    .book-recomme-evaluation-point-fav{
        font-size: 20px;
        .book-fav{
            margin-left: 15px;
        }
    }
    .book-story-contributor-review{
        margin-top: 15px;
        margin-bottom: 30px;
        .heading{
            font-size: 20px;
            margin-bottom: 0px;
        }
        .book-story{
            padding: 5px;
            border: 1px solid #C0C0C0;
        }
        .feeling-tag-mark{
            display: inline-block;
            text-align: center;
            font-size: 15px;
            padding: 5px;
            border-radius: 10px;
            margin-right: 10px;
            margin-bottom: 7px;
            #feeling-tag-text{
                color: white;
            }
            .fa-tag{
                color: white;
                margin-right: 3px;
            }
        }
        .book-contributor-review{
            padding: 5px;
            border: 1px solid #C0C0C0;
        }   
    }
    .btn{
        display: block;
        margin-top: 10px;
        width: 240px;
        .fa-search-plus{
            margin-right: 5px;
        }
    }
    .user-image{
        margin-top: 10px;
    }
    .book-review{
        @include review-thumb;
    }
    .review-post-form{
        margin-top: 30px;
        margin-bottom: 30px;
        .card-header{
            text-align: center;
        }
        .card-body{
            .must-mark{
                display: inline-block;
                text-align: center;
                font-size: 15px;
                color: white;
                width: 50px;
                padding: 0px;
                border-radius: 10px;
                margin-left: 10px;
            }
            .spoiler-check{
                margin-left: 20px;
            }
            #review-content{
                height: calc( 1.3em * 5 );
                line-height: 1.3;
            }
            #review-post-btn{
                width: 100%;
                margin-top: 20px;
            }
        }
        .target.is-hidden{
            display: none;
          }
    }

}

//著者一覧画面
#authorindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include search-form;
    .no-author-message{
        margin-left: 15px;
    }
    .author-thumb{
        margin-bottom: 30px;
        .thumb-author-name{
            font-size: 20px;
            margin-bottom: 10px;
            .author-books-count{
                margin-left: 30px;
                font-size: 20px;
            }
        }
        .book-image{
            margin-right: 10px;
        }
    }
}

//著者詳細画面
#authorshow{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .book-thumb{
        @include book-thumb;
    }
}


//レコメンドするユーザー選択画面
#reco-user-index{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include search-form;
    .no-user-message{
        margin-left: 15px;
    }
    .users-reco-choose{
        @include users-thumb;
    }

}

//レコメンドする本選択画面
#reco-book-index{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include search-form;
    .no-book-message{
        margin-left: 15px;
    }
    .book-reco-choose{
        @include book-thumb;
    }
}

//レコメンド画面
#recommend{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .reco-intro{
        text-align: center;
        font-size: 20px;
        margin-bottom: 35px;
    }
    .arrow-space{
        padding-top: 80px;
        &.left{
            padding-left: 20px;
        }
        &.right{
            padding-left: 0px;
        }
    }
    .reco-current{
        .user-image{
            display: block;
            border: 1px solid;
            margin: 0 auto;
        }
        h4{
            text-align: center;
            margin-top: 20px;
        }
    }
    .reco-book{
        #reco-book-btn{
            display: block;
            text-align: center;
            padding-top: 73px;
            width: 140px;
            height: 200px;
            margin: 0 auto;
        }
        #reco-book-image{
            display: block;
            margin: 0 auto;
            border: 1px solid;
        }
        h4{
            text-align: center;
            margin-top: 20px;
        }
        .rechose{
            margin-top: 20px;
            width: 184px;
            display: block;
            margin: 0 auto;
        }
    }
    .reco-user{
        .user-image{
            display: block;
            border: 1px solid;
            margin: 0 auto;
        }
        #reco-user-btn{
            display: block;
            margin: 0 auto;
            text-align: center;
            padding-top: 73px;
            width: 185px;
            height: 200px;
        }
        h4{
            text-align: center;
            margin-top: 20px;
        }
        .rechose{
            margin-top: 20px;
            width: 184px;
            display: block;
            margin: 0 auto;
        }
    }
    .reco-message-area{
        margin-top: 50px;
        #chose-message-line{
            border-bottom: solid;
            margin-bottom: 40px;
            color: silver;
        }
        .alert-area{
            background-color: rgba(255,0,0,0.2);
            color: red;
            padding: 20px;
            p{
                margin-bottom: 0px;
                padding: 0px;
            }
        }
        .must-mark{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        color: white;
        width: 50px;
        padding: 0px;
        border-radius: 10px;
        margin-left: 10px;
        }
        #reco-message-field{
            height: 90px;
        }
        .btn{
            margin-top: 10px;
        }
    }
}

//レコメンド状況画面
#reco-index{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav-tabs{
        display: table;
        table-layout: fixed;
        text-align: center;
        width: 100%;
        .nav-item{
            display: table-cell;
            vertical-align: middle;
        }
    }
    .my-active-recommend{
        margin-top: 40px;
        border: 1px solid #C0C0C0;
        .card-header{
            font-size: 18px;
            .user-name{
                margin-left: 10px;
            }
            .status{
                display: inline-block;
                float: right;
                margin-bottom: 0px;
                padding: 6px 10px 6px 10px;
                margin-right: 20px;
                font-size: 19px;
                border-radius: 8px;
                &.i1{
                    background-color: seagreen;
                    color: white;
                }
                &.i2{
                    background-color: $primary-blue;
                    color: white;
                }
                &.i3{
                    background-color: #999999;
                    color: white;
                }
                &.i4{
                    background-color: #999999;
                    color: white;
                }
            }
        }
        .card-body{
            .book-image{
                display: block;
                margin: 0 auto;
                border: 1px solid;
            }
            .book-title{
                font-size: 25px;
                margin-bottom: 0px;
            }
            .book-author{
                font-size: 20px;
            }
            #recommend-body{
                .heading{
                    margin-bottom: 0px;
                }
                .reco-apeal{
                    padding: 5px;
                }
            }
        }
    }
    .my-passive-recommend{
        margin-top: 40px;
        border: 1px solid #C0C0C0;
        .card-header{
            font-size: 18px;
            .user-name{
                margin-left: 10px;
            }
            .status{
                display: inline-block;
                float: right;
                margin-bottom: 0px;
                padding: 6px 10px 6px 10px;
                margin-right: 20px;
                font-size: 19px;
                border-radius: 8px;
                &.i1{
                    background-color: seagreen;
                    color: white;
                }
                &.i2{
                    background-color: $primary-blue;
                    color: white;
                }
                &.i3{
                    background-color: #999999;
                    color: white;
                }
                &.i4{
                    background-color: #999999;
                    color: white;
                }
            }
        }
        .card-body{
            .book-image{
                display: block;
                margin: 0 auto;
                border: 1px solid;
            }
            .book-title{
                font-size: 25px;
                margin-bottom: 0px;
            }
            .book-author{
                font-size: 20px;
            }
            #recommend-body{
                .heading{
                    margin-bottom: 0px;
                }
                .reco-apeal{
                    padding: 5px;
                }
            }
        }
        .card-footer{
            form{
                display: inline-block;
                width: 31%;
                margin-left: 10px;
                .i3{
                    background-color: #999999;
                    color: white;
                }
                .i4{
                    background-color: #999999;
                    color: white;
                }
            }
        }
    }
    .user-active-recommend{
        margin-top: 20px;
        border: 1px solid #C0C0C0;
        padding: 10px;
        .book-image{
            display: block;
            margin: 0 auto;
            border: 1px solid;
        }
        .book-title{
            font-size: 25px;
            margin-bottom: 0px;
        }
        .book-author{
            font-size: 20px;
        }
    }
    .user-passive-recommend{
        margin-top: 20px;
        border: 1px solid #C0C0C0;
        padding: 10px;
        .book-image{
            display: block;
            margin: 0 auto;
            border: 1px solid;
        }
        .book-title{
            font-size: 25px;
            margin-bottom: 0px;
        }
        .book-author{
            font-size: 20px;
        }
    }
}

//通知一覧画面
#notice-index{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .form-inline{
        font-size: 18px;
        .user-image{
            margin-right: 8px;
        }
        .book-name{
            font-size: 22px;
            margin-top: 10px;
            text-align: center;
        }
        .status{
            font-size: 22px;
            margin-top: 10px;
            text-align: center;
        }
        .comment{
            text-align: center;
        }
        .suggest-reco-page{
            display: block;
            text-align: center;
        }
    }
    .text-right{
        font-size: 18px;
    }
}

.fa{
    margin-right: 8px;
}
.fas{
    margin-right: 8px;
}
.far{
    margin-right: 8px;
}