//開発画面用
.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    background-color: #eaeaea;
  }

//ミックスイン
@mixin book-thumb-tl{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .post-user-name{
            margin-left: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow: scroll;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin book-thumb-fav{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .post-user-name{
            margin-left: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow: scroll;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin book-thumb-post{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding-bottom: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-post-user{
        font-size: 18px;
        .user-image{
            margin-right: 10px;
        }
    }
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 69%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
        }
        .thumb-book-title{
            font-size: 20px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 95px;
            overflow: scroll;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
            
        }
    }
}

@mixin book-thumb{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    min-height: 220px; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #book-thumb-image{
        float: left;
        width: 140px;
    }
    #book-thumb-overview{
        float: left;
        width: 71%;
        margin-left: 10px;
        .thumb-book-post-user{
            margin-bottom: 3px;
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-book-title{
            font-size: 20px;
        }
        .thumb-book-author-rep-fav{
            font-size: 18px;
            .thumb-book-rep-fav{
                margin-left: 10px;
            }
        }
        .book-fav{
            margin-left: 10px;
        }
        .thumb-book-story{
            height: 70px;
            overflow: scroll;
        }
        .thumb-book-recomme-fav{
            margin-top: 10px;
            #thmb-recomme-btn{
                width: 48%;
            }
            .fav-btn{
                display: inline-block;
                width: 48%;
                margin-left: 10px;
                #thmb-fav-btn{
                    width: 100%;
                }
            }
        }
    }
} 

@mixin users-thumb{
    display: inline-block;
    width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C0C0C0;
    #users-thumb-image{
        float: left;
        width: 130px;
    }
    #users-thumb-overview{
        float: left;
        height: 135px;
        width: 73%;
        .thumb-user-name{
            font-size: 20px;
            .thumb-recomme-point{
                padding-left: 20px;
                font-size: 15px;
            }
            #delete-nallow{
                float: right;
                padding: 0px 5px;
                height: 30px;
                font-size: 15px;
            }
        }
        .thumb-user-favorite-genre{
            overflow: scroll;
            height: 50px;
        }
        .thumb-follow-recomme{
            padding: 5px 0px;
            margin-top: 10px;
            #user-follow-button{
                display: inline-block;
                margin-left: 10px;
                width: 48%;
            }
            #btn{
                padding: 5px;
            }
            #thmb-recomme-btn{
                width: 48%;
            }
        }
        p{
            margin: 0px;
        }

    }
}

//エラー文
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

//ヘッダー・フッター
.navbar{
    background-color: #e3f2fd;
}

#headerfooter{
    .logo{
        width: 300px;
    }
    .logo-main{
        height: 25px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px
    }
    .logo-sub{
        font-size: 15px;
        height: 20px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px
    }
    .nav-item{
        padding: 0px 10px;
    }

}

.footer{
    margin-top: 150px;
}

//ユーザー登録画面
#users_new {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    .guidance-login{
        padding-top: 10px;
    }
}

//ログイン画面
#sessions_new {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    .guidance-signup{
        padding-top: 10px;
    }
    }
}

//ユーザー編集画面
#users_edit {
    margin-top: 30px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    #user-edit-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
}

//ユーザー詳細画面

#usershow{
    margin-top: 30px;
    .user-name{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .user-image-btn{
        .btn{
            display: block;
            margin-top: 10px;
            width: 242px;
        }
    }
    .user-overview{
        .user-title{
            font-size: 25px;
            margin-bottom: 0px;
        }
        .user-recomme-point{
            font-size: 20px;
            margin-bottom: 20px;
        }
        .user-profile-favorirte-genre{
            .heading{
                font-size: 20px;
                margin-bottom: 0px;
            }
            .user-profile{
                padding: 5px;
            }
            .user-favorirte-genre{
                padding: 5px;
            }
            margin-bottom: 50px;
        }
        .nav-tabs{
            margin-bottom: 8px;
            display: table;
            table-layout: fixed;
            text-align: center;
            width: 100%;
            .nav-item{
                display: table-cell;
                vertical-align: middle;
                padding-bottom: 5px;
                .nav-link{
                    padding: 2px;
                }
                p{
                    text-align: center;
                    margin-bottom: 0px;
                }
            }
        }
        .tab-content{
            .under-nav{
                width: 50%;
            }
        }
        .book-thumb-tl{
            @include book-thumb-tl;
        }
        .book-thumb-fav{
            @include book-thumb-fav;
        }
        .book-thumb{
            @include book-thumb;
        }
        .users-thumb{
            @include users-thumb;
        }
        .book-thumb-post{
            @include book-thumb-post;
        }
    }
}

//ユーザー一覧画面
#userindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .users-thumb{
        @include users-thumb;
    }
    
}

//本一覧画面
#bookindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .book-thumb{
        @include book-thumb;
    }
}

//本検索画面
#books_serch{
    h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .book_list{
        margin-top: 50px;
    }
    .search-box{
        form{
            width: 500px;
            display: block;
            margin: 0 auto;
            .btn{
                margin-top: 10px;
            }
        }
    }
    .books-thumb{
        display: inline-block;
        width: 100%;  //横幅がcol-12のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #C0C0C0;
        #bookss-thumb-image{
            float: left;
        }
        #books-thumb-overview{
            float: left;
            .thumb-book-post-user{
                #delete{
                    display: block;
                    margin-right: 0;
                }
            }
            .thumb-book-title{
                font-size: 20px;
                .thumb-book-author{
                    padding-left: 20px;
                    font-size: 15px;
                }
            }
            .thumb-book-story{
                padding: 3px;
                height: 150px;
                overflow: scroll;
            }
        }
        #books-thumb-recomme{
            margin: auto;
            .thumb-book-recomme{
                p{
                    width: 100%;
                    height: 205px;
                    line-height:205px;
                    text-align: center;
                    font-size: 20px;
                    border: 1px solid #C0C0C0;
                    background-color: #C0C0C0;
                }
                #thmb-book-btn{
                    display: inline-block;
                    width: 100%;
                    height: 205px;
                    line-height:205px;
                }
            }
        }
    }
    
}

//本投稿画面
#books_post {
    padding-top: 100px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    #book-post-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
    #book_story{
        height: 120px;
    }
}

//本詳細画面
#bookshow{
    margin-top: 30px;
    .book-title{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .book-author{
        font-size: 25px;
        margin-bottom: 0px;
    }
    .book-recomme-evaluation-point-fav{
        font-size: 20px;
        .book-fav{
            margin-left: 15px;
        }
    }
    .book-story-contributor-review{
        margin-top: 15px;
        .heading{
            font-size: 20px;
            margin-bottom: 0px;
        }
        .book-story{
            padding: 5px;
        }
        .book-contributor-review{
            padding: 5px;
        }   
    }
    .btn{
        display: block;
        margin-top: 10px;
        width: 240px;
    }
    .user-image{
        margin-top: 10px;
    }

}

//右サイドメニュー
.right-side{
    margin-top: 30px;
    .twitter{
        width: 255px;
        .twitter-timeline{
            display: block;
        }
    }
}