//ユーザー登録画面
#users_new {
    padding-top: 100px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    .guidance-login{
        padding-top: 10px;
    }
}

//ログイン画面
#sessions_new {
    padding-top: 100px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    .guidance-signup{
        padding-top: 10px;
    }
    }
}

//ユーザー編集画面
#users_edit {
    padding-top: 100px;
    margin-bottom: 100px;
    .btn {
        margin-top: 30px;
    }
    #user-edit-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
}

//エラー文
#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}

//ヘッダー・フッター
.navbar{
    background-color: #e3f2fd;
}

#headerfooter{
    .logo{
        width: 300px;
    }
    .logo-main{
        height: 25px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px
    }
    .logo-sub{
        font-size: 15px;
        height: 20px;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px
    }
    .nav-item{
        padding: 0px 10px;
    }

}

.footer{
    margin-top: 150px;
}

//ユーザー詳細画面

#usershow{
    margin-top: 50px;
    .user-title-recomme-point{
        padding-left: 0px;
    }
    .user-name{
        font-size: 40px;
    }
    .user-title{
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 7px;
        margin-left: 15px;
    }
    .user-recomme-point{
        font-size: 20px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    #user-show-line p{
        border-bottom: solid;
        margin-bottom: 20px;
        color: silver;
    }
    .profile-favorite-genre{
        p{
            border: solid;
            border-color: silver
        }
        .user-profile{
            height: 120px;
            padding: 5px;
        }
        .user-favorirte-genre{
            height: 70px;
            padding: 5px;
        }   
    }
    #user-edit-button{
        display: block;
        width: 242px;
    }
    .user-image{
        margin-top: 10px;
    }

}

//ユーザー一覧画面
#userindex{
    h2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .users-thumb{
        display: inline-block;
        width: 100%;  //横幅がcol-6のいっぱいまで広がる。高さは画像に合わせて押し広げられている。
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #C0C0C0;
        #users-thumb-image{
            float: left;
            width: 130px;
        }
        #users-thumb-overview{
            float: left;
            height: 135px;
            width: 73%;
            .thumb-user-name{
                font-size: 20px;
                .thumb-recomme-point{
                    padding-left: 20px;
                    font-size: 15px;
                }
            }
            .thumb-follow-recomme{
                padding: 5px 0px;
                position: absolute;
                bottom: 23px;
                width: 69%;
                #thmb-follow-btn{
                    margin-left: 10px;
                    width: 48%;
                }
                #btn{
                    padding: 5px;
                }
                #thmb-recomme-btn{
                    width: 48%;
                }
            }
            p{
                margin: 0px;
            }
            #delete{
                float: right;
            }
        }
    }
}